*,
*:before,
*:after {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;
  
	box-sizing: border-box;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  
	display: block;

}


html,
button,
input,
select,
textarea {
 
	font-family: sans-serif; 
	color: #434343;

i}
body{
    font-family: 'Merriweather', serif, non-serif;
    background-colour:whitesmoke;
}
div .container {
text-align:center;
width:100%;
height:100%;
}
header{
    height:100%;
}
nav{
display: inline;
}
section { 
    background-color:black;
    color: Rhiteborder-bottom: 3px;
    solid black;    
	box-sizing: padding-box;    
	padding: 10px;    
	width: 33%;
    height:20%;
	margin-bottom: 21px; 
	margin-top:5%;	/
	text-align: center; 
    font-size: 1.15Sem; 
    position:relative ;
}

#banner {
	font-weight: bold; 
	font-size: 1.6em;
}
img.banner {
	width: 60%; 
	height: 69.5%; 
	border: 10px #151515;}
@media handheld, only screen and (max-width:768px) { 
	img.banner {
	width:75%;
	height:45%
	} 

}


.strong,
strong {
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  }
strong em,
  em strong { font-family:'Open Sans Bold Italic', sans-serif; }

address,
em {
  font-family:'Open Sans Italic', sans-serif;
  }


footer{
	text-align:center;
	font-size: .75em; 
	line-height: 1.5em; 
    margin-top: 5%;
    padding: 1%;
}
li{
	display:block; 
	font-size: 0.75em; 
	font-weight: bold; 
	padding:2px;
	margin-top: 2%;
}
nav{
	display:inline; 
	width: 100%; 
	background-color:#434343; 
	padding:1%;
}
.topnav{
	color:#876371;
	font-size:0.75em;
	font-weight: bold;}
hr.menu{
	color:#ffffff;
	width: 25px;
}
article{
}
#logo{
	color:#876370;
}
blockquote {
font-weight: bold;
font-size: 1.5em;
quotes: "\201C" "\201D" "\2018" "\2019";
}
.module {
background: 
linear-gradient(
rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)
),
url('img/whiteroses.jpg');
background-size: cover;
width: 100%;
height: 100%;
.cap p {
padding: 20px;
color: white;
  padding: 20px;
margin: 0;
}
margin: 10px 0 0 10px;
position: relative;
float: left;
}
.mid h2 {
font-weight: 900;
color: white;
text-transform: uppercase;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
font-size: 2rem;
transform: translate(-50%, -50%);
}
.red {
background-image: 
linear-gradient(
rgba(255, 0, 0, 0.5),
rgba(255, 0, 0, 0.5)
  ),
url("../img/whiteroses.jpg");
}


.clearleft {
clear: left !important;
}

.col{
float: left;
margin-right: 3.8%;
position: relative;
width: 30.8%;
}

.text-center{
text-align: center;
}


