/* Resets */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
html,
button,
input,
select,
textarea {
	font-family: sans-serif; 
	color: #434343;
}
/* Resets end here*/
body{
    font-family: 'Raleway', sans-serif, non-serif;
    background-colour:whitesmoke;
    margin:0 0 0 0;
    padding: 0;
}
header{
background:#2196F3;
}
a{
 color: #E65100;
 text-decoration:none
}
center{
text-align: center;
}
div .container {
    text-align:center;
    width:100%;
    height:100%;
    margin: 0%;
}
.row{
    background: scroll border-box none padding-box 0% 0% repeat auto auto;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
    font-size: 2em;
    font-weight: 300;
    /*position: absolute;*/
    width: 99.99%;
    color:#333;
        p{
        text-align:center;
        }
}
div.order{
    text-align: center;
    padding-top: 5%;
    color:#000;
    background-color: rgba(255, , 255, 255, 0.9);
}
.deliver{
    text-align: center;	
    padding-top: 5%;
    color: #fff;
    background-color: #767777;
}
nav{
    display: inline;
}

strong{
font-weight:300;
}

#banner {
	font-weight: bold; 
	font-size: 1.6em;
}
img.banner {
	width: 60%; 
	height: 69.5%; 
	border: 10px #151515;}
@media handheld, only screen and (max-width:768px) { 
	img.banner {
	width:75%;
	height:45%
	} 

}
.strong,
strong {
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  }

address{
}
em {
  font-family:'Open Sans Italic', sans-serif;
  }

.orange-darken-4
{
	background:#e65100;
}


footer{
	padding: 5%;
	text-align:center;
	font-size: .75em; 
	line-height: 1.5em; 
}
li{
	display:block; 
	font-size: 0.75em; 
	font-weight: bold; 
	padding:2px;
	margin-top: 2%;
}
.module {
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url('img/whiteroses.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
        .cap p {
        padding: 20px;
        color: white;
        padding: 20px;
        margin: 0;
    }
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
}
.mid h2 {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.red {
    background-image: 
    linear-gradient(
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5)
      ),
    url("../img/whiteroses.jpg");
}


.clearleft {
    clear: left !important;
}


.text-center{
    text-align: center;
}

a {
    color: #774849;
}

button, .button  {
    text-align: center;
    background-clip: padding-box;
    background-color: #E74B3B;
    background-image: none;
    background-origin: padding-box;
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #FFF;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #FFF;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: #D52B1A 0px 2px 0px 0px;
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    opacity: 0.9;
    outline-color: #FFF;
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    text-decoration: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-text-decoration-color: #FFF;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
}
@media only screen and (max-device-width: 480px)
{
	div.col {
	width: 100%;
	position: relative;
	}

}
